@use '@angular/material' as mat;

$candy-app-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$candy-app-accent: mat.m2-define-palette(mat.$m2-red-palette, 700);
$candy-app-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);
$candy-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
      warn: $candy-app-warn,
    ),
  )
);
