@import '~@angular/material/theming';

@mixin app-style-theme($theme, $colors) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  *:focus {
    outline: none !important;
  }

  div {
    box-sizing: border-box;
  }

  .subtitle-container {
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .back-btn {
    display: inline-flex;
    justify-content: center;
    color: map-get($colors, text);
    margin-right: 10px;
  }

  .container-cs {
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;

    @media (max-width: 720px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden;
    }

    h1 {
      font-family: 'Montserrat', Sans-serif;
      color: map-get($colors, header-1);
      margin-bottom: 2%;

      @media (max-width: 600px) {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }

    h2 {
      font-family: 'Montserrat', Sans-serif;
      font-weight: lighter;
      font-size: 2rem;
      color: map-get($colors, header-2);
    }

    h3 {
      font-family: 'Montserrat', Sans-serif;
      white-space: nowrap;
      flex: 1;
      color: map-get($colors, header-3);
      font-weight: 600;
      font-size: 0.9rem;
    }

    h5 {
      font-family: 'Montserrat', Sans-serif;
      font-size: 16px;
    }

    caption {
      color: map-get($colors, header-3);
    }

    a {
      color: mat-color($primary);
    }

    a:hover {
      color: mat-color($accent);
    }

    .spacer {
      flex: 1 1 auto;
    }

    .btn {
      margin-top: -1%;
      border-radius: 39px;
      font-family: 'Montserrat', Sans-serif;
      padding: 0.25em 2em 0.25em 2em;
      color: white;
    }

    .btn-load {
      color: map-get($colors, text);
    }

    .btn-extended {
      @media (max-width: 720px) {
        display: none;
      }
    }

    .btn-round {
      align-items: center;
      margin-left: 5px;
      position: fixed;
      float: right;
      bottom: 20px;
      right: 20px;
      z-index: 4;

      @media (min-width: 720px) {
        display: none;
      }
    }

    .reset-btn {
      background-color: map-get($colors, btn-background-reset);
      color: map-get($colors, btn-reset-text);
      margin-right: 2%;
    }

    .fluid-container {
      margin-top: 1%;
      height: 690px;
      overflow-y: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;

      mat-card {
        box-shadow: none !important;
        margin-right: 5%;

        @media (max-width: 720px) {
          margin-right: unset;
        }

        mat-card-title {
          font-family: 'Montserrat', Sans-serif;
          white-space: nowrap;
        }

        mat-card-content {
          margin-top: 5%;
          font-family: 'Montserrat', Sans-serif;
        }
      }

      &.ext-div,
      .ext-div {
        div {
          margin-bottom: 3%;
        }
      }
    }

    .mobile {
      @media (min-width: 600px) {
        display: none;
      }
    }

    .desktop {
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  .divider-mobile {
    @media (min-width: 720px) {
      display: none;
    }
  }

  .center-align {
    padding-right: 5%;
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .primary {
    color: mat-color($primary);
  }

  .accent {
    color: mat-color($accent);
  }

  .container-default {
    background-color: map-get($colors, container-background);
  }

  .center-content {
    display: flex;
    align-items: center;
  }

  .markdown-content {
    h2 {
      font-weight: initial;
    }
    hr {
      border-top-color: map-get($colors, avatar-bar);
    }
  }
}
